/vendor/
/node_modules/
/writable/cache/*
/writable/logs/*
/writable/session/*
/writable/uploads/*
/writable/debugbar/*
/writable/emails/*
!/writable/**/index.html
/writable/*.db
.env
.phpunit.result.cache
